html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://cutewallpaper.org/21/4k-vaporwave-wallpapers/32-Vaporwave-Wallpapers-HD-WallpaperYou.jpg);
  background-size: 100%;
  background-repeat: repeat;
}
* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
}
.hero {
  display: flex;
  flex-direction: row;
}
